/* .btn {
    margin: 2%;
}

body{
    background-color: #caa87c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.form button {
    width: 200px;
}

.detail-buttons {
    display: flex;
}

.my-tasks h2{
    text-align: center;
    margin-top: 15%;
}*/
/* .detail-buttons form{
   width: 200px;
}
.detail-buttons a{
    width: 200px;
} */

/*.first-screen h1 {
    text-align: center;
    margin-top: 15%;
} */